
<h1>PT-1 Vendors Listed by Overall Rank</h1>

<br><br>

<h2> <%= link_to 'Green Transportation', rankings_green_path, {style: "color: green"} %></h2>
<p>Rating: 4.2</p>

<h2> <%= link_to 'Red Transportation', rankings_red_path, {style: "color: red"}%></h2>
<p>Rating: 3.9</p>

<h2> <%= link_to 'Blue Transportation', rankings_blue_path, {style: "color: blue"}%></h2>
<p>Rating: 3.5</p>