<h2> Here is your review! </h2>

<p>
  <strong>Vendor:</strong>
  <%= @review.vendor %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Experiences:</strong>
  <%= @review.experiences %>
</p>

<p>
  <strong>Improvements:</strong>
  <%= @review.improvements %>
</p>
